/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #928888;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: darkolivegreen;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1;
    font-style: italic;
    }
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content a {
    color: darkred;
    text-decoration: none;
}
.dropdown-content a:hover {
    text-decoration: underline;
}

/* Headings */
h1 {
    font-size: 24px;
    color: darkgreen;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}

/* Paragraphs */
p {
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
}

/* Buttons */
button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkslategray;
}

/* Forms */
form {
    margin: 20px 0;
}

input[type="text"],
input[type="tel"],
input[type="hidden"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #28a745;
}

button[type="submit"]:hover {
    background-color: #218838;
}

/* Voucher buttons container */
.voucher-options {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.voucher-options button {
    flex: 1 1 calc(100% - 20px); /* Full width for small screens */
    max-width: 300px; /* Limit width for larger screens */
}

/* Responsive design */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    button {
        width: 100%;
    }

    input[type="text"],
    input[type="tel"] {
        width: 100%;
    }
}

footer {
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}