<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Success</title>
         <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
       <link rel="icon" type="image/x-icon" href="/static/wifi.png">
</head>
<body>
    <h1>Voucher Purchased Successfully!</h1>
    <p>Your voucher code is your mpesa reference. Use it to login back to session.</p>
</body>
<footer>
    <p><span>
        © 2025 Fid_Dawg,&nbsp;Inc.
      </span></p>
</footer>
</html>